* { margin: 0; padding: 0; outline: 0; }

* { border: 1px solid red; } 


div
{
	display: block;
}

div#wrap
{
	position:relative;
	width:1100px;
	align:center;
	margin:0 auto;


}

div #cinema
{
	left:0px;
	top: 0px;
	opacity:10;
	z-index:5;

}

div.splash_video
{
	width: 100%;
	height: 100%;
	opacity:10;
}

h1.splash_header
{
	font-family: helvetica,sarif;
	font-size: 46px;
	color: white;
	display: inline-block;
	position: relative;
	z-index: 0;
	top: -500px;
	left: 300px;

}

.splash_button
{
	background: #d11717;
	font-size:25px;
	font-family:verdana;
	color:#fff;
	border: 2px solid #eee;
	height: 38px;
	width: 125px;
	/*margin: 50px 0 0 50px;*/
	overflow: hidden;
	display: block;
	text-align: center;
	line-height: 38px;

	/*Rounded Corners*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	  
	 /*Gradient*/
	 background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	 background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	 background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	 background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	 background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	  
	 /*Shadow*/
	 -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	 -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
	 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

	 /*Transition*/
	-webkit-transition: All 0.5s ease;
	-moz-transition: All 0.5s ease;
	-o-transition: All 0.5s ease;
	-ms-transition: All 0.5s ease;
	transition: All 0.5s ease;

	display: inline-block;
	position: relative;
	top: -300px;
	right: -350px;
	z-index:0;
}

.splash_button:hover {
  background-color: #FA8E8E;
}

ul
	{
		list-style-type:none;
		margin:0;
		padding:0;
		overflow:hidden;
	}
li
	{
		float:left;
	}
a.nav:link,a.nav:visited
	{
		display:block;
		width:300px;
		font-weight:bold;
		color:#FFFFFF;
		background-color:#bebebe;
		text-align:center;
		padding:4px;
		text-decoration:none;
		text-transform:uppercase;
	}
a.nav:hover,a.nav:active
	{
		background-color:#cc0000;
	}
div.global_logo
	{
		display: inline;
	}
div.global_navigation
{
	display: inline-block;
}





